<a href="https://colab.research.google.com/github/AQuaMaRIne307/PythonGCF/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NumPy: Numerical Pyhton...**

In [ ]:
import numpy as np

#Create a 1D array
a = np.array([1, 2, 3])

#Create a 2D array
b = np.array([[1, 2], [3, 4]])

#Print the shape of the arrays
print(a.shape)
print(b.shape)

#Print the data type of the 2D array
print(b.dtype)

In [ ]:
print(np.zeros((3,)))
print(np.ones((3,)))
print(np.eye(3))
print(np.arange(1,10,2))
print(np.linspace(0,1,5))
#Array manipulation
a = np.array([[1, 2, 3], [4, 5, 6]])
#Indexing and Slicing
print(a[0, 1])
print(a[:, 1])
print(a[1, :])
#Reshape & Flatten
print(a.reshape(3,2))
print(a.flatten())

In [ ]:
import numpy as np

a = np.array([1, 2, 3])
b = np.array([10, 20, 30])

print(a + b)           # [11 22 33]
print(a * 2)           # [2 4 6]
print(np.sqrt(a))      # [1. 1.41 1.73]
#âœ… Broadcasting Example:
a = np.array([[1], [2], [3]])
b = np.array([10, 20, 30])
print(a + b)
# Each row of `a` is broadcast over `b`

In [ ]:
#Aggregate Function
a = np.array([[1, 2], [3, 4]])
print(a.sum())
print(a.mean())
print(a.max(axis=0))
print(np.median(a))

# **Pandas:Powerful Data Analysis Library**

In [ ]:
import pandas as pd
#1. Series: 1D labeled array
s = pd.Series([10,20,30],index=["a","b","c"])
print(s["b"])
print(s.values)
print(type(s))

In [ ]:
import pandas as pd
#2. Dataframe: 2D Table with Labeled Rows & Columns
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df.head())

In [ ]:
#3. Data Selection
#Column access
print(df['Name'])
#Row access
print(df.loc[1])
print(df.iloc[1])
#Conditional filtering
print(df[df['Age'] > 30])

In [ ]:
#4. Dataframe Operations
df["Grade"] = ["B", "A", "A+"]
df.drop("Age", axis=1, inplace=True)
df.rename(columns={"Score": "Marks"}, inplace=True)
print(df)

# **Data Visualization with Matplotlib(Pyhton)**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fpdf import FPDF

# Load data
df = pd.read_csv('student_data.csv')

# Display data
print("Student Data:")
print(df)

# NumPy statistics
math_scores = df['Math'].values
science_scores = df['Science'].values
english_scores = df['English'].values

math_mean = np.mean(math_scores)
science_std = np.std(science_scores)
english_median = np.median(english_scores)

print(f"\nMean Math Score: {math_mean}")
print(f"Standard Deviation of Science Scores: {science_std}")
print(f"Median English Score: {english_median}")

# Plot average scores
plt.figure(figsize=(10, 6))
plt.bar(df['Name'], df['Average'], color=['green' if x >= 80 else 'red' for x in df['Average']])
plt.xlabel('Students')
plt.ylabel('Average Score')
plt.title('Student Average Scores and Results')
plt.show()
pdf = FPDF()

# **DataBase Connectivity in Python with SQLite3**